<div class="nbar">
  <div class=nbar1 [style.background-color]="color">
    <div class="tnote">

      <ng-container *ngIf="hidden; else showPad">
        <div class="asjqsq sasr" (click)=toggleNotes()>
          <b>Take a note...</b>
        </div>

        <div class="note-opts">
          <button matTooltip="New list" class="checkls-btn" (click)="newListNote()" mat-icon-button>
            <span class="material-symbols-outlined small-icon">
              check_box
            </span>
          </button>
          <button matTooltip="New note with drawing" class="sketch-btn" mat-icon-button>
            <span class="material-symbols-outlined small-icon">
              brush
            </span>
          </button>
          <button matTooltip="New note with image" class="add-img-btn" mat-icon-button>
            <span class="material-symbols-outlined small-icon">
              image
            </span>
          </button>
        </div>

      </ng-container>

      <ng-template #showPad>
        <div>
          <!-- pin component -->
          <div class="app-pin"></div>
          <div class="asjqsq" id="noteTitle" data-text="Title" contenteditable="true" #noteTitle></div>

          <ng-container *ngIf="noteType == 'plain'; else listTypeTemplate">
            <div id="plainNote" class="asjqsq" data-text="Take a note..." contenteditable="true" #plainNote></div>
          </ng-container>
          <ng-template #listTypeTemplate>
            <div id="listNote" class="ls-ctn" #listNote>
              <div class="mask-ctn">
                <span class="material-symbols-outlined small-icon prefix-ico"> add </span>
                <div class="frm"> List Item </div>
              </div>
            </div>
          </ng-template>
          
        </div>

        <div class="ctrl-bar">
          <app-icons-toolbar style="flex: 1;" [undo]="userNoteMsg" (archiveCard)="userArchive($event)"
            (colorCard)="noteColor($event)" (reminderCard)="reminder($event)">
          </app-icons-toolbar>
          <div role="button" class="closeNote" (click)="onSend()">Close</div>
        </div>

      </ng-template>
    </div>
  </div>
</div>



