.tnote {
  position: relative;
}

.asjqsq {
  letter-spacing: 0.00625em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  outline: none;
  min-height: 22px;
  padding: 12px 16px;
}

.nbar {
  width: 600px;
  margin: 32px auto 16px auto;
  position: relative;
}

.ctrl-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 601px) {
  .nbar {
    width: 100%;
  }

  .nbar1 {
    margin: 0px 10px;
  }
}

.nbar> :nth-child(n + 2) {
  background-size: 24px 24px;
  height: 30px;
  position: absolute;
  top: 8px;
  width: 46px;
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  cursor: pointer;
}

.note-opts {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 8px;
  top: 0;
}

.nbar1 {
  box-shadow: 0 1px 4px 0 rgba(60, 64, 67, 0.302), 0 0px 6px 1px rgba(60, 64, 67, 0.149);
  background-color: #fff;
  border-radius: 8px;
  border-color: #e0e0e0;
  // border: solid transparent;
  border-width: 1px 1px 1px 6px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

#plainNote {
  min-height: 24px;
  outline: none;
  padding: 12px 16px;
  // position: relative;
  width: -webkit-fill-available;
  letter-spacing: 0.01428571em;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.25rem;
}


.sasr {
  letter-spacing: 0.00625em;
  font-family: "google-sans", "Roboto", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}



.asjqsq[contentEditable="true"]:empty:before {
  content: attr(data-text);
  letter-spacing: 0.00625em;
  font-family: "google-sans", "Roboto", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

// div:empty:before {
//   content:attr(data-placeholder);
//   color:gray
// }

.app-pin {
  float: right;
}

.closeNote {
  margin-right: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.01785714em;
  font-family: "google-sans", Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  height: 36px;
  padding: 8px 24px;
  cursor: pointer;

  &:hover {
    background-color: rgba(95, 99, 104, 0.05);
  }
}

@media (max-width: 601px) {
  .clo {
    margin-right: 0px;
  }
}

.ls-ctn {
  position: relative;
  min-height: 30px;

  >div {
    min-height: 22px;
    position: relative;
    outline: none;
  }

  .mask-ctn {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: white;
  }

  .frm-ctn {
    z-index: 2;
  }

  .frm {
    min-height: 20px;
    padding: 5px 45px 5px 53px;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: .0178571429em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    user-select: none;
    width: 100%;
    box-sizing: border-box;
    outline: none;

    &:focus {
      border-top: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;
    }
  }

  .prefix-ico {
    left: 22px;
  }

  .suffix-ico {
    right: 22px;
  }

  .small-icon {
    position: absolute;
    top: 6px;
    font-size: 18px;
    opacity: 0.54;
    outline: none;
    user-select: none;
  }
}

.frm-ctn[data-complete="true"] .frm {
  text-decoration: line-through;
}