<div class="container">
  <div class=child>
    <div *ngFor='let card of getCards' class="ele1">
      <div class="title" contenteditable="true">
        {{card.title}}
      </div>
      <div class="descr" contenteditable="true">
        {{card.description}}
      </div>
      <div class="iconbar">
        <app-icons-toolbar [card]="card" [undo]="userNoteMsg" (action)="noteCall()" (trashact)="trashCall()" >
        </app-icons-toolbar>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container1">
  <div class=child>
    <div class="ashasg">
      <div class="ele21">
        <div class="titlee" contenteditable="true">
          hello
        </div>
        <div class="descrr" contenteditable="true">
          i have a serious problem
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        </div>
      </div>
      <div class="twahaw">
        <app-icons-toolbar [undo]="userNoteMsg"></app-icons-toolbar>
      </div>
    </div>
    <div class="ashasg">
      <div class="ele21">
        <div class="titlee" contenteditable="true">
          hello
        </div>
        <div class="descrr" contenteditable="true">
          i have a serious problem
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        </div>
      </div>
      <div class="twahaw">
        <app-icons-toolbar [undo]="userNoteMsg"></app-icons-toolbar>
      </div>
    </div>
    <div class="ashasg">
      <div class="ele21">
        <div class="titlee" contenteditable="true">
          hello
        </div>
        <div class="descrr" contenteditable="true">
          i have a serious problem
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        </div>
      </div>
      <div class="twahaw">
        <app-icons-toolbar [undo]="userNoteMsg"></app-icons-toolbar>
      </div>
    </div>
    <div class="ashasg">
      <div class="ele21">
        <div class="titlee" contenteditable="true">
          hello
        </div>
        <div class="descrr" contenteditable="true">
          i have a serious problem
          asaaaaaa
        </div>
      </div>
      <div class="twahaw">
        <app-icons-toolbar [undo]="userNoteMsg"></app-icons-toolbar>
      </div>
    </div>
  </div>
  <div class=child>
    <div class="ashasg">
      <div class="ele21">
        <div class="titlee" contenteditable="true">
          hello
        </div>
        <div class="descrr" contenteditable="true">
          i have a serious problem
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        </div>
      </div>
      <div class="twahaw">
        <app-icons-toolbar [undo]="userNoteMsg"></app-icons-toolbar>
      </div>
    </div>
    <div class="ashasg">
      <div class="ele21">
        <div class="titlee" contenteditable="true">
          hello
        </div>
        <div class="descrr" contenteditable="true">
          i have a serious problem
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        </div>
      </div>
      <div class="twahaw">
        <app-icons-toolbar [undo]="userNoteMsg"></app-icons-toolbar>
      </div>
    </div>
    <div class="ashasg">
      <div class="ele21">
        <div class="titlee" contenteditable="true">
          hello
        </div>
        <div class="descrr" contenteditable="true">
          i have a serious problem
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        </div>
      </div>
      <div class="twahaw">
        <app-icons-toolbar [undo]="userNoteMsg"></app-icons-toolbar>
      </div>
    </div>
    <div class="ashasg">
      <div class="ele21">
        <div class="titlee" contenteditable="true">
          hello
        </div>
        <div class="descrr" contenteditable="true">
          i have a serious problem
          asaaaaaa
        </div>
      </div>
      <div class="twahaw">
        <app-icons-toolbar [undo]="userNoteMsg"></app-icons-toolbar>
      </div>
    </div>
  </div>
  <div class=child>
    <div class="ashasg">
      <div class="ele21">
        <div class="titlee" contenteditable="true">
          hello
        </div>
        <div class="descrr" contenteditable="true">
          i have a serious problem
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        </div>
      </div>
      <div class="twahaw">
        <app-icons-toolbar [undo]="userNoteMsg"></app-icons-toolbar>
      </div>
    </div>
    <div class="ashasg">
      <div class="ele21">
        <div class="titlee" contenteditable="true">
          hello
        </div>
        <div class="descrr" contenteditable="true">
          i
        </div>
      </div>
      <div class="twahaw">
        <app-icons-toolbar [undo]="userNoteMsg"></app-icons-toolbar>
      </div>
    </div>
    <div class="ashasg">
      <div class="ele21">
        <div class="titlee" contenteditable="true">
          hello
        </div>
        <div class="descrr" contenteditable="true">
          i have a serious problem
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          asaaaaasdsdsd
          sdsdsds

        </div>
      </div>
      <div class="twahaw">
        <app-icons-toolbar [undo]="userNoteMsg"></app-icons-toolbar>
      </div>
    </div>
    <div class="ashasg">
      <div class="ele21">
        <div class="titlee" contenteditable="true">
          hello
        </div>
        <div class="descrr" contenteditable="true">
          i have a serious problem
          asaaaaaa
        </div>
      </div>
      <div class="twahaw">
        <app-icons-toolbar class="hey" [undo]="userNoteMsg"></app-icons-toolbar>
      </div>
    </div>
  </div>
</div> -->
