<div class="ls-container" *ngIf="!viewType">
  <div class="fullii">
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="ls-card edit" [style.background-color]="card.color" *ngFor="let card of notes" cdkDrag>
        <div class="ele1">
          <!-- Pin Icon -->
          <div class="app-pin" [card]="card"></div>

          <!-- Title -->
          <div class="ls-title" (click)="updateNote(card)">{{card.title}}</div>

          <!-- Description -->
          <div class="ls-description" (click)="updateNote(card)">{{card.description}}</div>
        </div>

        <!-- Labels -->
        <app-note-labels [card]="card"></app-note-labels>

        <!-- Icons Toolbar -->
        <div class="icon-bar">
          <app-icons-toolbar [card]="card" [undo]="userNoteMsg" (action)="noteCall()" (trashact)="trashCall()"
            (archiveAct)="archiveCall()">
          </app-icons-toolbar>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="notes-container" *ngIf="viewType">
  <ngx-masonry>
    <div ngxMasonryItem class="note-card" *ngFor="let card of notes" [style.background-color]="card.color">
      <div class="note-content" (click)="updateNote(card)">
        <div class="note-title">
          {{card.title}}
        </div>
        <div>
          <div class="note-description">
            {{ card.description}}
          </div>
        </div>
      </div>
      <app-note-labels [card]="card"></app-note-labels>
      <div class="note-toolbar">
        <app-icons-toolbar [card]="card" [undo]="userNoteMsg" (action)="noteCall()" (trashact)="trashCall()">
        </app-icons-toolbar>
      </div>
    </div>
  </ngx-masonry>
</div>