.app-pin {
  opacity: 0;
  float: right;
  cursor: pointer;
}

.ls-container {
  /* For list view */
  width: 632px;

  margin: 0 auto;
  position: relative;
  background-color: #fff;
}

@media (max-width: 632px) {
  .ls-container {
    width: 100%;
  }
}

.ls-card {
  margin: 16px;
  width: 600px;
  border: 1.25px solid #dadce0;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  transition: box-shadow 0.218s ease-in-out;
  cursor: move;
  background: white;
}

@media (max-width: 632px) {
  .ls-card {
    width: 97%;
    margin: 8px;
  }
}

.ls-title {
  min-height: 26px;
  padding: 12px 16px 0;
  transition: background-color 0.218s ease-in;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  cursor: text;
  white-space: pre-line;
  outline: none;
}

.ls-description {
  max-height: 405px;
  color: #202124;
  font-size: 14px;
  line-height: 19px;
  min-height: 30px;
  padding: 12px 16px;
  cursor: text;
  white-space: pre-wrap;
  word-wrap: break-word;
  outline: none;
  overflow: hidden;
}

.ls-card:hover .pin-icon,
.ls-card:hover .icon-bar {
  opacity: 1;
  transition: opacity 0.318s ease-in-out;
}

.ls-card:hover {
  box-shadow: 0 1px 4px 0 rgba(60, 64, 67, 0.102),
    0 0px 4px 1px rgba(60, 64, 67, 0.149);
}

.icon-bar {
  opacity: 0;
}


/// grid styles ///
.notes-container {
  width: 100%;
  margin: 0 auto;
  max-width: calc(100% - 150px);
}

.note-card {
  width: 240px;
  border: 1px solid #dadce0;
  margin: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.note-content {
  min-height: 60px;
  overflow: hidden;
}

.note-toolbar {
  font-size: 12px;
  line-height: 26px;
  margin: 3.5px 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.note-title {
  min-height: 26px;
  padding: 12px 16px 0px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  line-height: 1.5rem;
}

.note-description {
  min-height: 30px;
  padding: 12px 16px;
  letter-spacing: .2px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;

  white-space: pre-line;
  word-wrap: break-word;

  max-height: 304px;
}

.note-card:hover .note-toolbar {
  opacity: 1;
}

.note-card:hover {
  box-shadow: 0 2px 4px 2px rgba(60, 64, 67, 0.1),
    0 0px 4px 1px rgba(60, 64, 67, 0.15);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.notes-container.cdk-drop-list-dragging .note-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}