<div class="edb">
  <div class="edb1">
    <div>Edit labels</div>
    <div class="edb12">
      <div class="sty plus"></div>
      <input class="default" type="text" placeholder="Create new label" [formControl]="label">
      <div class="sty done" (click)="onAddLabel()"></div>
    </div>
    <mat-error [ngStyle]="{display: exists ? 'block':'none'}">Label already exists</mat-error>
    <div class="edb12" *ngFor='let label of labelData; let i = index;'>
      <div class="sty label"></div>
      <div class="sty bin" (click)="onRemoveLabel(i)"></div>
      <input type="text" [value]=label.name #labelInput>
      <div class="sty done tla" (click)="onRenameLabel(label, labelInput.value)"></div>
    </div>
  </div>
  <div class="edb2">
    <div class="edb21" (click)="closeDialog()">
      Done
    </div>
  </div>
</div>