@font-face {
  font-family: googleR;
  src: url("../../../../assets/fonts/GoogleSans-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.43;
  font-size: 14px;
  direction: ltr;
}

@media (min-width: 601px) {
  .parent {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
  }
}

@media (min-width: 601px) {
  .parent::before,
  .parent::after {
    min-height: 30px;
  }
}

@media (min-width: 601px) {
  .parent::before,
  .parent::after {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    content: "";
    display: block;
    height: 24px;
  }
}

@media (min-width: 601px) {
  .parent::before,
  .parent::after {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    content: "";
    display: block;
    height: 24px;
  }
}

.child {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  z-index: 2;
  padding: 15px 15px;
  // text-align: center
}

@media (min-width: 601px) {
  .child {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    border: 1px solid #dadce0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    min-height: 0;
    width: 450px;
    height: 500px;
  }
}
@media (min-width: 450px) {
  .child {
    padding: 48px 40px 36px;
  }
}

@media (min-width: 901px) {
  .child1 {
    -webkit-flex-basis: 450px;
    flex-basis: 450px;
    margin: 0 -48px;
    overflow: hidden;
    padding: 0 48px;
  }
}

.logo div {
  content: url("../../../../assets/icons/logo.png");
  width: 75px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  color: #202124;
  padding-bottom: 0;
  padding-top: 0;
  font-family: "googleR", arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3333;
  margin-bottom: 0;
  margin-top: 0;
}

.content h1 {
  color: #202124;
  padding-bottom: 0;
  padding-top: 5px;
  font-family: "googleR", arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3333;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content div {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1.5;
  padding-bottom: 15px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
}

.button {
  color: #fff !important;
  background-color: #1a73e8;
  float: right;
  padding: 0 10px;
}

.psw,
.cpsw {
  width: 90%;
  margin-bottom: 15px;
}

.cpsw {
  margin-right: 2%;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0em;
}
