@font-face {
  font-family: product-sans;
  src: url("../assets/fonts/product.ttf");
}

@font-face {
  font-family: google-sans;
  src: url("../assets/fonts/GoogleSans-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/roboto-regular.ttf");
}

::ng-deep .material-icons {
  color: rgba(0, 0, 0, 0.54);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgba(0, 0, 0, 0.08);
}

::ng-deep .error-snackbar {
  background: rgba(252, 252, 252, 0.658);
  color: rgb(207, 30, 30);
  // height: 500px;
  // width: 200px
}
