<!-- make it a seperate component -->
<div class="iconlist">
  <div class="toolbar">
    <button title="Delete forever" class="note-ctrls" mat-icon-button *ngIf=!url (click)="delete(card)">
      <span class="material-symbols-outlined small-icon" style="color: red;">
        delete_forever
      </span>
    </button>

    <button title="Restore note" class="note-ctrls" mat-icon-button *ngIf=!url (click)="restore(card)">
      <span class="material-symbols-outlined small-icon" style="color: green;">
        restore_from_trash
      </span>
    </button>

    <button title="Remind me" class="note-ctrls" mat-icon-button *ngIf=url [matMenuTriggerFor]="reminderMenu">
      <span class="material-symbols-outlined small-icon">
        add_alert
      </span>
    </button>

    <button title="Collaborator" class="note-ctrls" mat-icon-button *ngIf=url>
      <span class="material-symbols-outlined small-icon">
        person_add
      </span>
    </button>

    <button title="background options" class="note-ctrls" mat-icon-button *ngIf=url [matMenuTriggerFor]="paletteMenu">
      <span class="material-symbols-outlined small-icon">
        palette
      </span>
    </button>

    <button title="Add image" class="note-ctrls" mat-icon-button *ngIf=url>
      <span class="material-symbols-outlined small-icon">
        image
      </span>
    </button>

    <button [title]="archiveIco ? 'Archive' : 'Unarchive'" class="note-ctrls" mat-icon-button *ngIf=url
      (click)=archive(card)>
      <span class="material-symbols-outlined small-icon">
        {{archiveIco ? 'archive' : 'unarchive'}}
      </span>
    </button>

    <button title="More" class="note-ctrls" *ngIf=url mat-icon-button (click)=more()>
      <span class="material-symbols-outlined small-icon">
        more_vert
      </span>
    </button>

    <!-- <div class="undo" *ngIf="undo"></div> -->
  </div>
</div>


<div class="menu" *ngIf="pop">
  <div class="menu1">
    <div (click)=trash(card)>Delete Note</div>
    <div [matMenuTriggerFor]="lmenu" (menuClosed)="isClosed(card)">
      {{ card?.labels.length ? 'Change labels' : 'Add labels'}}
    </div>
    <div>Copy to Google Docs</div>
  </div>
</div>

<!-- colors -->
<mat-menu class="colri" #paletteMenu="matMenu" yPosition="above" [overlapTrigger]="false" panelClass="custom">
  <div class=colorbox>
    <div *ngFor="let obj of colorbox" [attr.title]="obj.title" (click)="color(obj,card)"
      [ngStyle]="{'background-color':obj.color}"></div>
  </div>
</mat-menu>


<mat-menu #reminderMenu="matMenu">
  <div class="reminders" [style.display]="!pdt?'block':'none'">
    <div class="ch1">
      Reminder:
    </div>
    <div class="remcom">
      <div class="ch" (click)="setReminder(card,'Today')">
        <div class="text">
          Later today
        </div>
        <div class="time">
          8:00PM
        </div>
      </div>
    </div>
    <div class="remcom">
      <div class="ch" (click)="setReminder(card,'Tommorow')">
        <div class="text">
          Tomorrow
        </div>
        <div class="time">
          8:00AM
        </div>
      </div>
    </div>
    <div class="remcom">
      <div class="ch" (click)="setReminder(card,'Mon')">
        <div class="text">
          Next week
        </div>
        <div class="time">
          Mon,8:00AM
        </div>
      </div>
    </div>
    <div class="remcom">
      <div class="ch">
        <div class="text clk pos" (click)="$event.stopPropagation(); pdt = !pdt">
          Pick date & time
        </div>
      </div>
    </div>
  </div>

  <div class="reminders" [style.display]="pdt?'block':'none'">
    <div class="arrow" (click)="pdt = !pdt; $event.stopPropagation()"></div>
    <div class="pdt">Pick date &amp; time</div>
    <div class="dropz">
      <div>
        <mat-form-field class="dzc">
          <input matInput [matDatepicker]="picker" [formControl]="date" (click)="$event.stopPropagation()">
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="dzc" (click)="$event.stopPropagation()">
          <button class="dpb" mat-button>
            <mat-icon class="dpa" matDatepickerToggleIcon [matMenuTriggerFor]="klsdas">keyboard_arrow_down</mat-icon>
          </button>
          <input style="width: 80%" matInput [formControl]="time" />
        </mat-form-field>

        <div>
          <mat-form-field class="dzc" (click)="$event.stopPropagation()">
            <mat-select placeholder="Does not repeat">
              <mat-option value="option">Does not repeat</mat-option>
              <mat-option value="option">Daily</mat-option>
              <mat-option value="option">Weekly</mat-option>
              <mat-option value="option">Monthly</mat-option>
              <mat-option value="option">Yearly</mat-option>
              <!-- <mat-option value="option">Custom</mat-option> -->
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="sa">
      <div class="sa1" (click)="customReminder(card)">Save</div>
    </div>
  </div>
</mat-menu>

<mat-menu #klsdas="matMenu">
  <div class="opt">
    <div class="opele" (click)="time.setValue('08:00'); $event.stopPropagation()">
      <div class="day">Morning</div>
      <div class="dyti">8:00</div>
    </div>
  </div>
  <div class="opt">
    <div class="opele" (click)="time.setValue('13:00'); $event.stopPropagation()">
      <div class="day">Afternoon</div>
      <div class="dyti">13:00</div>
    </div>
  </div>
  <div class="opt">
    <div class="opele" (click)="time.setValue('18:00'); $event.stopPropagation()">
      <div class="day">Evening</div>
      <div class="dyti">18:00</div>
    </div>
  </div>
  <div class="opt">
    <div class="opele" (click)="time.setValue('20:00'); $event.stopPropagation()">
      <div class="day">Night</div>
      <div class="dyti">20:00</div>
    </div>
  </div>
  <!-- <mat-option value="option">Custom</mat-option> -->
</mat-menu>


<mat-menu class="lmenu" #lmenu="matMenu">
  <div class="txt1">
    Label note
  </div>
  <div class="sea">
    <input class="inp" type="text" placeholder="Enter label name">
    <div class="srch"></div>
  </div>
  <div class="lbl-items">
    <div class="lbl-item" (click)="onAdd(l); $event.stopPropagation()" *ngFor="let l of labels">
      <span class="material-symbols-outlined check-ico">
        {{ l.active ?'check_box' : 'check_box_outline_blank'}}
      </span>
      <div class="lbl-txt">{{l.name}}</div>
    </div>
  </div>
</mat-menu>