<div class="iconlist">
  <div class="toolbar">
    <div class="rem" *ngIf=url [matMenuTriggerFor]="reminders"></div>
    <div class="collaborator" *ngIf=url></div>
    <div class="color" *ngIf=url [matMenuTriggerFor]="colri"></div>
    <div class="img" *ngIf=url></div>
    <div class="archive" (click)=archive(card) *ngIf=url [ngClass]="archiveB"></div>
    <div class="unarchive" (click)=archive(card) *ngIf=url [ngClass]="unArchiveB"></div>
    <div class="more" (click)=more()></div>
    <div class="undo" *ngIf="undo"></div>
    <!-- <div></div> -->
  </div>
</div>


<div class="menu" *ngIf="pop" [ngClass]="menuStyle">
  <div class="menu1">
    <div (click)=trash(card)>Delete Note</div>
    <div [matMenuTriggerFor]="lmenu" (menuClosed)="isClosed(card)">Add label</div>
    <div>Copy to Google Docs</div>
  </div>
  <div class="menu2">
    <div (click)="delete(card)">Delete forever</div>
    <div (click)="restore(card)">Restore</div>
  </div>
</div>

<!-- colors -->
<mat-menu class="colri" #colri="matMenu" yPosition="above" [overlapTrigger]="false" (menuClosed)="isOpened($event)"
  panelClass="custom">
  <div class=colorbox>
    <div *ngFor="let obj of colorbox" [attr.title]="obj.title" (click)="color(obj,card)"
      [ngStyle]="{'background-color':obj.color}"></div>
  </div>
</mat-menu>


<mat-menu #reminders="matMenu">
  <div class="reminders" [style.display]="!pdt?'block':'none'">
    <div class="ch1">
      Reminder:
    </div>
    <div class="remcom">
      <div class="ch" (click)="setReminder(card,'Today')">
        <div class="text">
          Later today
        </div>
        <div class="time">
          8:00PM
        </div>
      </div>
    </div>
    <div class="remcom">
      <div class="ch" (click)="setReminder(card,'Tommorow')">
        <div class="text">
          Tomorrow
        </div>
        <div class="time">
          8:00AM
        </div>
      </div>
    </div>
    <div class="remcom">
      <div class="ch" (click)="setReminder(card,'Mon')">
        <div class="text">
          Next week
        </div>
        <div class="time">
          Mon,8:00AM
        </div>
      </div>
    </div>
    <div class="remcom">
      <div class="ch">
        <div class="text clk pos" (click)="$event.stopPropagation(); pdt = !pdt">
          Pick date & time
        </div>
      </div>
    </div>
  </div>

  <div class="reminders" [style.display]="pdt?'block':'none'">
    <div class="arrow" (click)="pdt = !pdt; $event.stopPropagation()"></div>
    <div class="pdt">Pick date &amp; time</div>
    <div class="dropz">
      <div>
        <mat-form-field class="dzc">
          <input matInput [matDatepicker]="picker" [formControl]="date" (click)="$event.stopPropagation()">
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="dzc" (click)="$event.stopPropagation()">
          <button class="dpb" mat-button>
            <mat-icon class="dpa" matDatepickerToggleIcon [matMenuTriggerFor]="klsdas">keyboard_arrow_down</mat-icon>
          </button>
          <input style="width: 80%" matInput [formControl]="time" />
        </mat-form-field>

        <div>
          <mat-form-field class="dzc" (click)="$event.stopPropagation()">
            <mat-select placeholder="Does not repeat">
              <mat-option value="option">Does not repeat</mat-option>
              <mat-option value="option">Daily</mat-option>
              <mat-option value="option">Weekly</mat-option>
              <mat-option value="option">Monthly</mat-option>
              <mat-option value="option">Yearly</mat-option>
              <!-- <mat-option value="option">Custom</mat-option> -->
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="sa">
      <div class="sa1" (click)="customReminder(card)">Save</div>
    </div>
  </div>
</mat-menu>

<mat-menu #klsdas="matMenu">
  <div class="opt">
    <div class="opele" (click)="time.setValue('08:00'); $event.stopPropagation()">
      <div class="day">Morning</div>
      <div class="dyti">8:00</div>
    </div>
  </div>
  <div class="opt">
    <div class="opele" (click)="time.setValue('13:00'); $event.stopPropagation()">
      <div class="day">Afternoon</div>
      <div class="dyti">13:00</div>
    </div>
  </div>
  <div class="opt">
    <div class="opele" (click)="time.setValue('18:00'); $event.stopPropagation()">
      <div class="day">Evening</div>
      <div class="dyti">18:00</div>
    </div>
  </div>
  <div class="opt">
    <div class="opele" (click)="time.setValue('20:00'); $event.stopPropagation()">
      <div class="day">Night</div>
      <div class="dyti">20:00</div>
    </div>
  </div>
  <!-- <mat-option value="option">Custom</mat-option> -->
</mat-menu>


<mat-menu class="lmenu" #lmenu="matMenu">
  <div class="txt1">
    Label note
  </div>
  <div class="sea">
    <input class="inp" type="text" placeholder="Enter label name">
    <div class="srch"></div>
  </div>
  <div class="lcon">
    <div (click)="onAdd(card,l); $event.stopPropagation()" class="lcon1" *ngFor="let l of labels">
      <div class="img cb" *ngIf="card != undefined  &&  !(card.labels).includes(l)"></div>
      <div class="img cb1" *ngIf="card != undefined && (card.labels).includes(l)"></div>
      <div class="txt2">{{l}}</div>
    </div>
  </div>
</mat-menu>