@font-face {
  font-family: googleR;
  src: url("../../../fonts/GoogleSans-Regular.ttf");
}
@font-face {
  font-family: googleB;
  src: url("../../../fonts/GoogleSans-Bold.ttf");
}

html,
body {
  height: 100%;
}

body {
  background: #fff;
  direction: ltr;
  font-size: 14px;
  line-height: 1.4286;
  margin: 0;
  padding: 0;
}

@media (min-width: 601px) {
  .parrentcard {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
  }
}

.parrentcard::before,
.parrentcard::after {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  content: "";
  display: block;
  height: 24px;
}

.parrentcard::after {
  min-height: 64px;
}

.parrentcard::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.parrentcard *,
.parrentcard *:before,
.parrentcard *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.child1 {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  background: #fff;
  max-width: 100%;
  position: relative;
  z-index: 2;
  padding: 15px 0px;
}

@media (min-width: 601px) {
  .child1 {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    border: 1px solid #dadce0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    min-height: 0;
    width: 410px;
    // width: 40%
  }
}

.child3 {
  flex-grow: 1;
  overflow: hidden;
  padding: 20px 40px;
  // width: 90%;
  /* height: 430px; */
}

.email,
.psw {
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo div {
  content: url("../../../assets/logo.png");
  width: 75px;
  // left:20%
  // height: 40px;
}

.content {
  color: #202124;
  padding-bottom: 0;
  padding-top: 0;
  font-family: "googleR", arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3333;
  margin-bottom: 0;
  margin-top: 0;
}

.content h1 {
  color: #202124;
  padding-bottom: 0;
  padding-top: 16px;
  font-family: "googleR", arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3333;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content div {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1.5;
  padding-bottom: 0;
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
}

#forgotpsw {
  padding-bottom: 3px;
  padding-top: 9px;
}

#forgotpsw button {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #1a73e8;
  // display: inline-block;
  font-weight: 500;
  letter-spacing: 0.25px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: inherit;
  outline: 0;
  padding: 0;
  left: 10%;
  font-family: "googleR", arial, sans-serif;
  // text-align: left;
}

.createAcc {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #1a73e8;
  // display: inline-block;
  font-weight: 500;
  letter-spacing: 0.25px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: inherit;
  outline: 0;
  padding: 0;
  left: 10%;
  font-family: "googleR", arial, sans-serif;
}

.button {
  color: #fff;
  background-color: #1a73e8;
  float: right;
  padding: 0 10px;
  // height: 30px;
}

#qwsqw {
  padding-top: 5px;
}


