<div class="header">
  <div class="h1">
    Select profile photo
  </div>
</div>
<div class="imgzone">
  <div class="choosediv" (click)=image.click() [ngClass]="butDisplay">
    <div class="choose">
      Choose file
    </div>
  </div>
  <!-- <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" format="png"
    (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)" (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"></image-cropper> -->
  <image-cropper [ngClass]="imgDisplay" [imageChangedEvent]="imgData" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
    [imageQuality]="92" [resizeToWidth]="0" format="png" (imageCropped)="imageCropped($event)"></image-cropper>

</div>
<input style="display: none" type="file" (change)=fileAdded($event) #image>

<div class="buttons">
  <button mat-button class="submit" (click)="submit()" [disabled]="button">Submit</button>
  <button mat-button class="cancel">Cancel</button>
</div>