.trash-nav {
    display: flex;
    justify-content: center;
    align-items: center;


    .trash-msg {
        font-size: 16px;
        text-align: center;
        margin: 18px 0px;
    }

    button {
        color: rgb(26, 115, 232) !important;
        padding: 8px 24px;
        bottom: 0;
        font-style: normal;
        margin-left: 16px;
        position: relative;

        &:hover {
            background-color: rgba(66, 133, 244, 0.039);
        }

        &:active {
            background-color: rgba(66, 133, 244, 0.161) !important;
        }
    }
}

.placeholder-template {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .pl-icon {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4KICA8cGF0aCBkPSJNMTUgNFYzSDl2MUg0djJoMXYxM2MwIDEuMS45IDIgMiAyaDEwYzEuMSAwIDItLjkgMi0yVjZoMVY0aC01em0yIDE1SDdWNmgxMHYxM3oiLz4KICA8cGF0aCBkPSJNOSA4aDJ2OUg5em00IDBoMnY5aC0yeiIvPgo8L3N2Zz4K');
        background-size: 120px 120px;
        height: 120px;
        margin: 20px;
        opacity: .1;
        width: 120px;
    }

    .msg {
        color: rgb(95, 99, 104);
        cursor: default;
        font-size: 1.375rem;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.75rem;
    }
}